/* header.css */
.header {
    display: flex;
    padding: 0px 24px;
    align-items: center;
    background-color: #fff;
    justify-content: space-between;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.href {
    color: black;
}

.logo {
    font-size: 20px;
}

.hamburger {
    font-size: 16px;
    cursor: pointer;
    padding-right: 30px;
}

/* RightMenu.css */
.right-icons {
    display: flex;
    align-items: center;
}

.search-icon {
    font-size: 16px;
    cursor: pointer;
}

.login-icon {
    font-size: 16px;
    cursor: pointer;
    margin: 0 5px 0 15px;
}

.search-input {
    width: 300px;
    height: 40px;
    border-radius: 50px;
}

.search-input-two {
    width: 200px;
    height: 40px;
    border-radius: 50px;
    margin-bottom: 5px;
}

.login-button {
    color: white;
    height: 44px;
    margin-left: 10px;
    border-radius: 60px;
    background-color: black;
    border: 2px solid white;
}

.profile-button {
    color: black;
    height: 40px;
    padding: 0 10px;
    margin-left: 10px;
    border-radius: 100px;
    background-color: white;
    border: 2px solid black;
}
